.gitignore
recursor.o
matmult.o
lineup.o
insult.o
bubsort.o
shell.o
rm.o
pwd.o
mkdir.o
mcp.o
mcat.o
ls.o
hex-dump.o
halt.o
echo.o
cp.o
cmp.o
cat.o
recursor.d
matmult.d
lineup.d
insult.d
bubsort.d
shell.d
rm.d
pwd.d
mkdir.d
mcp.d
mcat.d
ls.d
hex-dump.d
halt.d
echo.d
cp.d
cmp.d
cat.d
lib/ustar.o
lib/ustar.d
lib/arithmetic.o
lib/arithmetic.d
lib/string.o
lib/string.d
lib/stdlib.o
lib/stdlib.d
lib/stdio.o
lib/stdio.d
lib/random.o
lib/random.d
lib/debug.o
lib/debug.d
lib/user/console.o
lib/user/syscall.o
lib/user/debug.o
lib/user/entry.o
bubsort
cat
cmp
cp
echo
halt
hex-dump
insult
libc.a
lineup
ls
matmult
mcat
mcp
mkdir
pwd
recursor
rm
shell
